/* Write your code at the bottom */

* {
  box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 200px 0;
  background-image: url(coffeeshops.png);
  background-size: cover;
  color: #e6e6e6;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.8;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.learn-more {
  background-color: #c5a880;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.9;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: #e6e6e6;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0px 1px 100px #0f0f0f;
}

.logo {
  width: 55px;
  margin-top: 5px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: #0f0f0f;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(15, 15, 15, 0.3);
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.heading h3 {
  font-weight: normal;
}

footer p {
  color: #0f0f0f;
  font-size: 15px;
}

footer {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

/* Write your code below */
span.menu-icon {
  color: #0f0f0f;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}